 .u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 33px 25px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  background-image: none;
  font-size: 1rem;
  margin: 28px 36px 0 25px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 15px 0 0 auto;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-icon-1 {
  width: 85px;
  height: 85px;
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-shape-1 {
  width: 764px;
  height: 280px;
  margin: 122px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1024px;
  margin: -335px auto 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 710px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-image-1 {
  height: 525px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 710px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 42px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.375rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 23px auto 0 0;
  padding: 12px 63px 13px;
}

.u-section-2 .u-icon-1 {
  font-size: 3.6876em;
  color: rgb(255, 255, 255) !important;
  margin-right: 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 886px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-2 .u-image-1 {
    height: 478px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 680px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-2 .u-image-1 {
    height: 380px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 471px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 493px;
    margin-top: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 27px 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 290px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 285px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 475px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: -1px;
    margin-right: -1px;
    padding: 0 16px 0 15px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 820px;
}

.u-section-3 .u-list-1 {
  width: 841px;
  margin: 60px auto 60px 126px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 677px;
  grid-gap: 20px 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(to right, #bd72ef, #3b065e);
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 20px;
}

.u-section-3 .u-group-1 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 40px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -88px 24px 0 108px;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(to right, #bd72ef, #3b065e);
}

.u-section-3 .u-container-layout-3 {
  padding: 16px 20px;
}

.u-section-3 .u-group-2 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 40px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: -88px 24px 0 108px;
}

.u-section-3 .u-list-item-3 {
  background-image: linear-gradient(to right, #bd72ef, #3b065e);
}

.u-section-3 .u-container-layout-5 {
  padding: 16px 20px;
}

.u-section-3 .u-group-3 {
  width: 100px;
  min-height: 100px;
  background-image: none;
  margin: 40px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: -88px 24px 0 108px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-left: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 622px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 591px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 130px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 130px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }
}.u-block-bfa8-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bfa8-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-block-bfa8-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 65px;
  height: 65px;
  left: auto;
  position: absolute;
  top: 327px;
  right: 0;
}

@media (max-width: 575px) {
  .u-block-bfa8-3 {
    width: 37px;
    height: 37px;
    left: calc(((100% - 340px) / 2)  + -34px);
    position: absolute;
    top: 313px;
    right: auto;
  }
}

.u-section-4-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4-1 .u-image-1 {
  filter: brightness(0.8);
  width: 833px;
  height: 664px;
  margin: 18px auto 0;
}

.u-section-4-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -77px 328px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-4-1 .u-image-1 {
    margin-top: 341px;
  }

  .u-section-4-1 .u-text-1 {
    margin-top: -793px;
    margin-right: 270px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-4-1 .u-image-1 {
    width: 720px;
    height: 574px;
    margin-top: 371px;
  }

  .u-section-4-1 .u-text-1 {
    margin-top: -742px;
    margin-right: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-4-1 .u-image-1 {
    width: 540px;
    height: 431px;
    margin-top: 504px;
  }

  .u-section-4-1 .u-text-1 {
    margin-top: -853px;
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4-1 .u-image-1 {
    height: 271px;
    margin-top: 282px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -437px;
    margin-left: 0;
    margin-right: 0;
  }
}

 .u-section-4-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/responsive-adaptable-wordpress.png");
  background-position: 50% 50%;
}

.u-section-4-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 311px 12px 0;
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 255px;
    margin-right: 0;
  }
}

 .u-section-4-3 {
  background-image: url("images/obtener-un-dominio-gratis-freenom-1280x720.png");
  background-position: 50% 50%;
}

.u-section-4-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transition-duration: 7.75s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 391px auto 60px 237px;
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-text-1 {
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 120px;
    margin-left: 21px;
  }
}

 .u-section-4-4 {
  background-image: url("images/ssl-1.jpg");
  background-position: 50% 50%;
}

.u-section-4-4 .u-sheet-1 {
  min-height: 719px;
}

.u-section-4-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transition-duration: 7.75s;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 538px auto 60px 106px;
}

@media (max-width: 1199px) {
   .u-section-4-4 {
    min-height: 534px;
  }

  .u-section-4-4 .u-sheet-1 {
    min-height: 593px;
  }
}

@media (max-width: 991px) {
   .u-section-4-4 {
    min-height: 375px;
  }

  .u-section-4-4 .u-sheet-1 {
    min-height: 454px;
  }
}

@media (max-width: 767px) {
   .u-section-4-4 {
    min-height: 245px;
  }

  .u-section-4-4 .u-sheet-1 {
    min-height: 341px;
  }
}

@media (max-width: 575px) {
   .u-section-4-4 {
    min-height: 31px;
  }

  .u-section-4-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 67px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-4-3 .u-text-1,
.u-section-4-3 .u-text-1:before,
.u-section-4-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4-4 .u-text-1,
.u-section-4-4 .u-text-1:before,
.u-section-4-4 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-2105-5:not([data-block-selected]):not([data-cell-selected]),
.u-block-2105-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2105-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2105-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-2105-5:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-2105-6:not([data-block-selected]):not([data-cell-selected]),
.u-block-2105-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-2105-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-2105-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-2105-6:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1053px;
}

.u-section-5 .u-group-1 {
  width: 507px;
  min-height: 659px;
  margin: 60px 633px 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 114px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.625rem;
  font-style: normal;
  margin: 31px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 625px;
  margin: -736px 0 -17px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 16px;
}

.u-section-5 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 2px auto 0;
  padding: 18px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 17px 14px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-5 .u-container-layout-3 {
  padding: 11px 30px;
}

.u-section-5 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 11px auto 0;
  padding: 18px;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  margin: 37px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 397px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 1px auto 0;
  padding: 18px;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  border-style: none;
  margin: 16px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-5 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 8px 14px 0 12px;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 33px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 501px;
}

.u-section-5 .u-container-layout-5 {
  padding: 22px 30px;
}

.u-section-5 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 9px auto 0;
  padding: 18px;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  align-self: center;
  background-image: none;
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
}

.u-section-5 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-5 .u-group-1 {
    width: 348px;
    min-height: 697px;
    margin-right: 433px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 563px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 213px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2159px;
  }

  .u-section-5 .u-group-1 {
    margin-right: 33px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1828px;
  }

  .u-section-5 .u-group-1 {
    min-height: 315px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
    margin-right: 12px;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1219px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 77px auto 0;
}

.u-section-6 .u-image-1 {
  width: 648px;
  min-height: 969px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  margin: 61px 116px 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  font-size: 3.6876em;
  height: 111px;
  width: 369px;
  color: rgb(255, 255, 255) !important;
  margin: 783px auto 0 90px;
}

.u-section-6 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-6 .u-image-1 {
    width: 534px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-icon-1 {
    font-size: 3.6876rem;
  }

  .u-section-6 .u-image-2 {
    width: 775px;
    height: 709px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-6 .u-image-1 {
    width: 632px;
    min-height: 950px;
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-6 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -889px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 890px;
    width: 483px;
    margin-top: 318px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -830px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-image-1 {
    width: 309px;
    min-height: 546px;
    margin-top: 88px;
    margin-right: -29px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-1 {
    height: 92px;
    width: 92px;
    margin-top: 387px;
    margin-left: 60px;
  }

  .u-section-6 .u-image-2 {
    height: 340px;
    margin-top: -480px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 690px;
}

.u-section-7 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 53px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 508px;
  min-height: 518px;
  margin: -527px 0 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 0 60px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 60px 0 105px;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 23px 71px 0 auto;
}

.u-section-7 .u-icon-1 {
  font-size: 3.625em;
  margin-right: 17px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-7 .u-image-1 {
    width: 587px;
    height: 544px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -485px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-7 .u-image-1 {
    height: 485px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    min-height: 418px;
    margin-top: 20px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-7 .u-image-1 {
    height: 346px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-7 .u-image-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-group-1 {
    min-height: 390px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 225px;
}

.u-section-8 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 60px auto 59px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}